.button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    color: rgb(26, 7, 131);
    background: red;
    color: white;
    border: rgb(9, 255, 0) border 5px;
}

.textview {
    width: 218px;
    margin: 1.8px;
    font-size: 25px;
    padding: 5px;
    color: rgb(69, 109, 182);
    border: purple;
}

.form {
    width: 100%;
    color: rgb(211, 64, 224);
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.bg {
    background: linear-gradient(#e6a00a, rgba(70, 235, 5, 0.966));
    height: 1000px;
}

.heading{
    text-align: center;
    font-weight: bold;
    margin: 20px auto;
    padding-top: 40px;
    font-size: 2.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}